.title {
    font-size: 65px;
}

 body {
    background-color: rgb(176, 197, 179);
    color: #442b9c;
    
    font-family: 'Anton', serif;
    
}

#container {
    background-color: whitesmoke;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    
    
}

/* setting values to auto or % to make it responsive */

#header {
    background-color: paleturquoise;
    text-align: center;     
    height: 100px;
}

#nav-bar {

    background-color: powderblue;
    text-align: center;
    height: 50%;

    

}

#main {
     padding: 10px;
     text-align: center;
     background-color: seashell;

     font-family: 'Playfair Display', serif;
     
}

#pic-slider {
   
     /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;

   /* each slide snaps into place */
   scroll-snap-points-x: repeat(300px);
   scroll-snap-type: mandatory;

   /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: flex; */
}

/* change height on pic slider  */

.pic-center > div {

    flex-shrink: 0;
    width: 50%;
    height: 50%;

    /* display: block;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 100%  */s

}


/*
    top: 10px;
    bottom: 10px;

    height: 100%;

    padding-left: 50%;
    padding-right: 50%;

    flex-direction: column;
    justify-content: center;
*/
    

#footer {



    height: 100px;
    background-color: rgb(233, 223, 215);
    
}
  

.pic-center {

   
}
